/* TIPYGRAPHY SETTINGS */ 

html {
    font-size: 62.5%;
    letter-spacing: .1rem;
}

/* BUTTONS && LINKS */ 

.button {
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

.persona-link {
    font-size: 3.2rem;
}

/* CONTENT FONT */ 

.link,
.nav-toggler,
.content,
.button,
.label-text,
input,
textarea {
    font-family: $content-font-family;
}



/* MENU */ 

.menu-item {
    text-align: center;
}

.menu-link {
    font-size: 1.7rem;
}

.nav-toggler {
    font-size: 2rem;
}

.close-btn a {
    font-size: 2.5rem;
}

/* TITLES */ 
 
.title {
    font-family: $title-font-family;

    &.main-title {
        font-size: 4.8rem;
    }

    &.subtitle,
    &.secondary-title {
        font-size: 3.9rem;
    }

    &.project-title {
        font-size: 2.4rem;
    }

    &.project-subtitle {
        font-size: 1.8rem;
    }

    &.content-title {
        font-size: 2rem;
    }
}

/* CONTENT SECTIONS */ 

.main-content {
    text-align: center;
}

.content {
    text-align: justify;
    font-size: 1.6rem;
    line-height: 150%;
}

.service {
    .icon-container {
        font-size: 4.5rem;
    }

    .content-title {
        font-size: 3.2rem;
    }
}


#contact {

    .label-text {
        font-size: 1.6rem;
    }

    input,
    textarea {
        text-align: center;

        &:focus {
            font-size: large;
            transition: font-size .3s ease-in-out;
        }
    }
}

/* FOOTER */ 

.footer-col {

    text-align: center;

    .footer-title {
        font-size: 1.7rem;
    }

    .footer-link {
        font-size: 1.5rem;
    }
}